
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18em;


  background-color: var(--color-white);
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); */
  border: 1px solid var(--color-black);
  border-top: 0.5em solid var(--color-black);

  transition: all ease-in-out 0.3s;
}

.imgWrap{
  position: relative;

}

.imgWrap img{
  width:  100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tags{
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  
  height: auto;
  padding: 0 0.5rem;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2em;
  justify-content: center;
  align-items:flex-end;
  transition: all 0.3s ease-in-out;
}


.card:hover .tags{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;
}

.tag{
  
  display: flex;
  align-self: flex-end;
  background-color: var(--color-black);
  border-radius: 1em;
  border: 1px solid var(--color-black);
  padding: 0.3em;
  font-size: 0.7em;
  color: var(--color-white);
  font-family: var(--font-text);
}

.preview{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  
}



.title{
  display: flex;
  justify-content: space-between;
  padding:0.5em;
  align-items: center;
}

.preview h3{
  
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  flex: 3;
}
.icon{
  flex:1;
  vertical-align: middle;
  margin-left: 0.5em;
}
.icon:hover{
  color: var(--color-current);
}

@media (max-width: 40rem) {
  .card{
    width: 100%;
  }

  .imgWrap img{
    width:  100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .preview h3{
    font-size: 1.5em;
  }
  .icon {
    font-size: 1.5em;
  }
  .tag{
    font-size: 0.9em;
  }
}