
.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0.5rem 2rem;
  background-color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px -8px 24px;
  margin: 0 3rem;
  border-radius: 15px 15px 0 0;
  scroll-snap-align: end;
  color: #fff;
  gap: 1rem;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  gap: 10vw;
}



.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: top;
}

.logo{
  display: block;
  align-items: center;
  overflow: hidden;
  padding: 0 2em;
  text-align: center;
}

  .logo img{
    object-fit: cover;
    width:15em;
  }

.icons{
  display: flex;
  justify-content: center;
  gap: 1em
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  /* box-sizing: border-box;
  text-align: center; */
  /* vertical-align: middle; */
}

.right{
  flex: 2;
}
.form{
  display: flex;
  flex-direction: column;
  gap:1em;
}
.formGroup{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  /* padding-top: 0.5em; */
}

.formCol{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;

  /* cursor: default; */


  background-color: var(--color-white);
  cursor: inherit;
  border-radius: 5px;
  color: var(--color-black);
  min-width: 15em;
  width:100%;
  padding: 0.5em;

  font-size: 1em;
  font-family: var(--font-family-1)
}

.input ::placeholder{
  color: var(--color-black);
}

.formCol input{
  background-color: var(--color-white);
  border-radius: 5px;
  color: var(--color-black);
}

.formText{
  flex: 3;
}
.formGroup textarea{
  resize: none;
  height:5.6em;
  /* width: 20em; */
}

.formButton{
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background: var(--color-current);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 1s ease-in-out;
}

.copywright{
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-text);
  font-size: 0.9em;
}

@media screen and (max-width: 1100px){
  .footer{
    font-size: 80%;
  }
}
  


@media screen and (max-width: 40rem) {
  .footer{
    font-size: 80%;
    margin: 0;
    border-radius:0;
  }
  .main{
    flex-direction: column;
    gap: 2em;
  }
}
