.blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:3rem;
  margin: 0 10vw;
  gap: 3rem;
}

.hero{
  min-height: calc(50vh);
  display: flex;
  align-items: center;
  gap:3em;

}

.heroLeft{
  flex:1;
  /* padding-bottom: 3em; */
}
.heroCategory{
  font-family: var(--font-text);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-current);
}
.heroTitle{
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.heroTags{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.tag{
  display: flex;
  gap:0.5em;
  background-color: var(--color-black);
  border-radius: 1em;
  border: 1px solid var(--color-black);
  padding: 0.3em 1em;
  font-size: 0.9em;
  color: var(--color-white);
  font-family: var(--font-text);
}

.heroLinks{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 1em;
}

.linkButton{
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
  align-items: center;
  font-family: var(--font-text);
  font-size: 1.2em;
  color: var(--color-black);
  font-weight: bold;
  border: 2px solid var(--color-black);
  border-radius: 0.5em;
}

.linkButton:hover{
  color: var(--color-current);
  border: 2px solid var(--color-current);
}



.heroRight{
  flex:1;

  text-align: right;

}

.heroRight img{
  object-fit: contain;
  /* width:100%; */
  border: 2px solid var(--color-black);
  border-top: 1em solid var(--color-black);
  max-height: 50vh;
  /* aspect-ratio: 1/1; */
}

.body{
  font-family: var(--font-text);
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  text-align: justify;
  margin-bottom: 2em;
  width: 100%;
  max-width: 50rem;
}

.body h1{
  font-size: 1.75em;
  padding-bottom: 0.5em;
}

.body h2{
  font-size: 1.5em;
  margin-top: 1em;
  padding-bottom: 0.5em;
}

.body h3{
  font-size: 1.15em;
  margin-top: 0.5em;
  padding-bottom: 0em;
}

.body p{
  font-size: 1.15rem;
  padding-bottom: 0.5em;
}

.body a{
  color: var(--color-current);
}

.body img{
  text-align: center;
  max-width: 100%;
  max-height: 80vh;
  /* border-radius: 1em; */
  box-shadow: 0 0 0.5em var(--color-black);
  margin: 1em 0;
}

.body p:has(img){
  text-align: center;
}

.body blockquote {
  
  margin: 1rem 0rem;
  padding-left: 1em;
  border-left: 0.5em solid var(--color-current);
  font-style: italic;
}

.body ul {
  margin: 0.5rem 0rem;
  font-size: 1.15rem;
  padding-left: 2em;
}

.blog code{
  text-align: left;
  font-family: var(--font-code);
  overflow-wrap: break-word;
}

@media (max-width: 60rem) {
  .blog{
    /* font-size: 14px; */
  }

}


@media (max-width: 40rem) {
  .blog{
    margin: 0 5vw;
  }
  .hero{
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: auto;
    gap: 1em;
  }
  .heroLeft{
    flex: 0;
    padding-bottom: 0;
    justify-content: center;
    text-align: center;
  }
  .heroLinks{
    justify-content: center;
  }
  .heroTags{
    justify-content: center;
  }
  .heroRight{
    flex: 0;
  }
  .heroRight img{
    max-width: 100%;
  }
  .heroTitle{
    font-size: 3em;
  }
}